#-*-Makefile-*- vim:syntax=make
PLATFORM = opal

LINKERFILE_PREFIX = opal-flash
OPTFLAGS ?= -O3

VOLUME_FILE = volumes-at45db.xml
VOLUME_ALLOCATOR ?= tos-storage-at45db

$(call TOSMake_include_platform,sam3u)

opal: $(BUILD_DEPS)
	@:
