#-*-Makefile-*- vim:syntax=make
PLATFORM = sam3s_ek

LINKERFILE_PREFIX=sam3s-ek-flash
DEFAULT_PROGRAM = sam-ba-3s

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,sam3u)

sam3s_ek: $(BUILD_DEPS)
	@:
