#-*-Makefile-*- vim:syntax=make
#$Id: eyesIFXv2.target,v 1.1.2.1 2005-03-23 19:34:53 cssharp Exp $

PLATFORM = eyesIFXv2

#MSP_MCU ?= msp430x1611
MSP_BSL_FLAGS ?= --invert-test --invert-reset --f1x
BSL?=1

ifndef DEFAULT_PROGRAM
DEFAULT_PROGRAM = bsl
endif

ifndef TOSDIR
TOSDIR := $(shell ncc -print-tosdir)
endif

ifndef TINYOS_BETADIR
TINYOS_BETADIR := $(TOSDIR)/../beta
endif

ifndef TINYOS_CONTRIBDIR
TINYOS_CONTRIBDIR := $(TOSDIR)/../contrib
endif

ifndef TINYOS_EYESDIR
TINYOS_EYESDIR := $(TINYOS_CONTRIBDIR)/eyes
endif

NESC_FLAGS:=-Wnesc-all -mdisable-hwmul

PFLAGS += \
-I$(TINYOS_EYESDIR)/platform/eyesIFXv2\
-I$(TINYOS_EYESDIR)/platform/eyesIFX\
-I$(TINYOS_EYESDIR)/tos/lib/Common \
-I$(TINYOS_EYESDIR)/tos/lib/Chips/Radios/TDA5250 \
-I$(TINYOS_EYESDIR)/tos/lib/Chips/Flash/AT45DB041 \
-I$(TINYOS_EYESDIR)/tos/lib/Chips/Pots/MAX4615 \
-I$(TINYOS_EYESDIR)/tos/lib/Sensors \
-I$(TOSDIR)/platform/msp430 \

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    CFLAGS += -I$(TINYOS_EYESDIR)/tos/lib/Deluge
    CFLAGS += -I$(TINYOS_EYESDIR)/tos/lib/Deluge/TOSBoot/include
    CFLAGS += -I$(TOSDIR)/lib/Deluge
    CFLAGS += -I$(TOSDIR)/lib/Deluge/TOSBoot/include
    PFLAGS += -Wl,--section-start=.text=0x6000,--defsym=_reset_vector__=0x4000
    BOOTLOADER ?= $(TINYOS_EYESDIR)/tos/lib/Deluge/TOSBoot/bl_eyesIFXv2.ihex
  endif
endif

$(call TOSMake_include_platform,msp)

eyesIFXv2: $(BUILD_DEPS)
    @:
