#-*-Makefile-*- vim:syntax=make
#$Id: micaz.target,v 1.1.2.1 2005-03-23 19:34:55 cssharp Exp $

PLATFORM = micaz
SENSORBOARD ?= micasb
PROGRAMMER_PART ?= -dpart=ATmega128 --wr_fuse_e=ff
PFLAGS += -finline-limit=100000

CFLAGS += \
-I$(TOSDIR)/lib/CC2420Radio

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    PFLAGS += -I%T/lib/Deluge
    PFLAGS += -I%T/lib/Deluge/TOSBoot/include
    BOOTLOADER ?= $(TOSDIR)/lib/Deluge/TOSBoot/bl_micaz.srec
    AVR_FUSE_H ?= 0xd8
  endif
  ifeq ($(TINYOS_NP),XNP)
    BOOTLOADER ?= $(XNP_DIR)/inpispm2.srec
  endif
endif

AVR_FUSE_H ?= 0xd9

$(call TOSMake_include_platform,avr)

micaz: $(BUILD_DEPS)
	@:

