#-*-Makefile-*- vim:syntax=make

PLATFORM = imote2

PFLAGS += \
-I$(TOSDIR)/lib/CC2420Radio \
-I$(TOSDIR)/lib/Flash

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

ASSEMBLY_FILES += $(PLATFORM_DIR)/../imote2/flash.s $(PLATFORM_DIR)/../imote2/binarymover.s

ifdef TINYOS_NP

endif

$(call TOSMake_include_platform,pxa27x)

imote2: $(BUILD_DEPS)
	@:


