#-*-Makefile-*- vim:syntax=make
#$Id: pc.target,v 1.1.2.1 2005-03-23 19:34:55 cssharp Exp $

PLATFORM = pc
SENSORBOARD ?= micasb
OPTFLAGS = -g -O0
PFLAGS := -pthread $(PFLAGS) -fnesc-nido-tosnodes=1000 -fnesc-simulate

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    PFLAGS += -I%T/lib/Deluge
    PFLAGS += -I%T/lib/Deluge/TOSBoot/include
  endif
endif

BUILD_DEPS ?= exe

$(call TOSMake_include_platform,pc)

pc: $(BUILD_DEPS)
	@:

