#-*-Makefile-*- vim:syntax=make
#$Id: telos.target,v 1.1.2.1 2005-03-23 19:34:55 cssharp Exp $

TELOS_REV ?= A

ifeq ($(TELOS_REV),A)
  TELOS_TARGET = telosa.target
else
  TELOS_TARGET = telosb.target
endif

$(call TOSMake_include,$(TELOS_TARGET))

