PLATFORM = imote2

PFLAGS += \
-I$(TOSDIR)/lib/CC2420Radio \
-I$(TOSDIR)/lib/Flash

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

ifdef TINYOS_NP
  ifeq ($(TINYOS_NP),BNP)
    PFLAGS += -I%T/lib/Deluge
    PFLAGS += -I%T/lib/Deluge/TOSBoot/include
    PFLAGS += -Wl,--section-start=.text=0x3000,--defsym=_reset_vector__=0x1100
    BOOTLOADER ?= $(TOSDIR)/lib/Deluge/TOSBoot/bl_telos.ihex
    ifeq ($(shell [ -f /bin/cygwin1.dll ] && echo cygwin),cygwin)
      BOOTLOADER := $(shell cygpath -m $(BOOTLOADER))
    endif
  endif
endif

$(call TOSMake_include_platform,pxa27x)

imote2: $(BUILD_DEPS)
	@:

